 <nav>
        <div class ="site-title">
    
   
  
   
        </div>
        <ul>
            <li>Profile</li>
            <li>FAQs</li>          
              <li>Logout</li>
            
        </ul>
        </nav>