<%-   include('C:/Users/PROJECT/partials/header.ejs')  %>


<body>
   <%-   include('C:/Users/PROJECT/partials/nav.ejs')  %>
     <h3>Search here</h3>
    <script async src="https://cse.google.com/cse.js?cx=c4c0ce3a7885b410e">
   </script>
   <div class="gcse-search"></div>
       
       
     
</body>
</html>