<%-   include('C:/Users/PROJECT/partials/header.ejs')  %>


<body>
   <%-   include('C:/Users/PROJECT/partials/nav.ejs')  %>
   <h4>Form to write a review</h4>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSemdJymcffkKG-5W-PVBsCvizdnzRJCDQRZ33KeDYN1odrHwA/viewform?embedded=true" width="640" height="1416" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

    <h3>Search here</h3>

    <script async src="https://cse.google.com/cse.js?cx=c4c0ce3a7885b410e">
   </script>
   <div class="gcse-search"></div>
       
       
     
</body>
</html>