<%-   include('C:/Users/PROJECT/partials/header.ejs')  %>

<body>
    <%-   include('C:/Users/PROJECT/partials/nav.ejs')  %>
    <div class = "login content"> 

    <form action="/loginpat" method ="post"> 
        
        <label for ="email_id"> Email-Id:</label>
        <input type="text" id="email_id" name="email_id" required><br>
        <label for ="password"> New Password</label>
        <input type="text" id="password" name="password" required><br>
        <button> Submit</button>   
   </form>
   </div>
   </body>
</html>