<%-   include('C:/Users/PROJECT/partials/header.ejs')  %>

<body>

    <%-   include('C:/Users/PROJECT/partials/nav.ejs')  %>

    <div class=" welcome content ">
        <form action="/" method ="post"> 
            <label for ="role">You are signing in as a:</label>
            <select id="role" name="role">
                <option value="NEPEducator">NEP Educator</option>
                 <option value="Student">Student</option>
                 
                
                </select><br>
                <button> Submit</button>

            </form>
        </div>
    </body>
</html>